html, body {
  height: 100%;
  font-family: 'courier new', 'Open Sans', sans-serif
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 2px #696969 solid;
  border-radius: 0%;
  background-color: #D0D0D0;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: #D0D0D0;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb1.svg") crimson;
}

div.hidden {
  background: #A0A0A0;
}

div.hidden:hover {
  background: #787878;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark1.svg") #A0A0A0;
}

button {
  font-family: 'courier new', 'Open Sans', sans-serif;
  margin: 10px;
}
